<h1>Welcome to Flippy!</h1>
<p><a href=""><img src="http://marp.me/flippy/flippy.png" align="left" height="200" width="200" ></a></p>
<h2>Information</h2>
<ul>
<li>
<p><strong>Flippy</strong> (Flip.Py) a Python Module for Translating any given words  back to its Original using my parser, This helps you if you are willing to change any of word/string in your Source, such as Python Keywords, Methods and Imports.</p>
</li>
<li>
<p><strong>Useful for</strong> Educational purposes, Works on diffirent kinds of Python Frameworks (as of exec compile()), Distribute Python with an awesome poetry like syntax and more.</p>
</li>
</ul>
<h2>Sample Flippy</h2>
<p>``` python
from Flippy import Flip</p>
<p>MyCustomSyntax = {</p>
<div class="codehilite"><pre>&quot;i want&quot; : &quot;def&quot; ,
&quot;show me&quot; : &quot;print&quot;
</pre></div>


<p>}</p>
<p>MyCustomSource = """</p>
<p>i want This(food):
    show me food</p>
<p>This('Cake')</p>
<p>"""</p>
<p>Parse = Flip.Py(MyCustomSource, MyCustomSyntax)
Parse.Compile()
Parse.Run()
```
* Check the Menu for more Example, Information and Documentations!</p>